<!DOCTYPE html>
<html>
  <head></head>
    <body>
      <p> Hi there, <br><br>
          Unfortunately, the following commit <a href="{{ commit_url }}">{{ commit_id }}</a> has not passed all your tests. <br><br>
          {{ author_login }} has made a commit to your project that caused it to malfunction. <br><br>
          Just in case you forgot what he/she looks like, here's a reminder! <br>
          <img src="{{ author_avatar_url }}">
      </p>
    </body>
</html>
